doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/clusterpies.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')    
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js', charset='utf-8')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js')
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    body
    block content
